# curl -u $username https://$artifactory_fqdn/artifactory/api/npm/auth # Provides the below
_auth = {user_token}
always-auth = true
email = {user_email}
registry=https://$artifactory_fqdn/artifactory/api/npm/$npm_repo/ # The NPM repo
