
# The port range that rtorrent will initiate connections from
port_range = 3076-3211

# Session directory - where temporary torrent files are saved
session = ~/.rtorrent

# Upload rate in kilobytes
upload_rate = 3

# Download directory
directory=~/1

# Check hash of a torrent once it completes to verify all is good
check_hash = yes

# Best effort encryption - Not mandatory
encryption=allow_incoming,try_outgoing,enable_retry

# Watch the below directory for new torrent files
schedule = watch_directory,5,5,load_start="~/.rtorrent/*.torrent"
schedule = tied_directory,6,5,start_tied=
schedule = untied_directory,7,5,stop_untied=

# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=100M

# The ip address reported to the tracker.
#ip = 127.0.0.1
#ip = rakshasa.no

# The ip address the listening socket and outgoing connections is
# bound to.
#bind = 127.0.0.1
#bind = rakshasa.no

# Start opening ports at a random position within the port range.
port_random = yes

# Send me an email once the download is complete
system.method.set_key = event.download.finished,notify_me, "execute = /usr/bin/mailx,-s,\"$d.get_name=\",kostikas@gmail.com"



# When seeding ratio is reached close the torrent
system.method.set = group.seeding.ratio.command, d.close=

# Upload to a maximum ratio of 1%
ratio.max.set=1

## Move files to ./unsorted when download completes
#system.method.set_key = event.download.finished,move_complete,"execute=mv,-n,$d.get_base_path=,./unsorted/;d.set_directory=./unsorted/"

